# Python
__pycache__/
*.py[cod]

# Build artifacts
*.egg-info/
dist/
build/
*.egg
_build/

# Testing
htmlcov/
coverage.xml
coverage.lcov
.pytest_cache/
.coverage*

# Development
.vscode/
.DS_Store
docs/site